In [ ]:
pip install fastquant

Requirement already satisfied: fastquant in c:\users\yashg\anaconda3\lib\site-packages (0.1.6.1)
Requirement already satisfied: lxml>=4.6.2 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (4.6.3)
Requirement already satisfied: oauthlib>=3.1.0 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (3.1.1)
Requirement already satisfied: certifi>=2019.11.28 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (2020.12.5)
Requirement already satisfied: six>=1.13.0 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.15.0)
Requirement already satisfied: tweepy>=3.8.0 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (4.4.0)
Requirement already satisfied: pandas==1.1.5 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.1.5)
Requirement already satisfied: yfinance>=0.1.54 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (0.1.67)
Requirement already satisfied: scipy in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.6.2)
Requirement already satisfied: chardet>=3.0.4 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (4.0.0)
Requirement already satisfied: requests>=2.22.0 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (2.25.1)
Requirement already satisfied: pytz>=2019.3 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (2021.1)
Requirement already satisfied: backtrader>=1.9.75.123 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.9.76.123)
Requirement already satisfied: networkx>=2.4 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (2.5)
Requirement already satisfied: pre-commit in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (2.16.0)
Requirement already satisfied: numpy>=1.18.0 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.20.1)
Requirement already satisfied: PySocks>=1.7.1 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.7.1)
Requirement already satisfied: black>=19.10b0 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (19.10b0)
Requirement already satisfied: idna>=2.8 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (2.10)
Requirement already satisfied: bs4>=0.0.1 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (0.0.1)
Requirement already satisfied: requests-oauthlib>=1.3.0 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.3.0)
Requirement already satisfied: soupsieve>=1.9.5 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (2.2.1)
Requirement already satisfied: ccxt>=1.30.59 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.62.87)
Requirement already satisfied: nltk>=3.5 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (3.6.1)
Requirement already satisfied: tqdm>=4.28.1 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (4.59.0)
Requirement already satisfied: beautifulsoup4>=4.8.2 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (4.9.3)
Requirement already satisfied: matplotlib>=3.1.2 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (3.2.2)
Requirement already satisfied: croniter>=0.3.35 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.0.15)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (2.8.1)
Requirement already satisfied: urllib3>=1.25.7 in c:\users\yashg\anaconda3\lib\site-packages (from fastquant) (1.26.4)
Requirement already satisfied: regex in c:\users\yashg\anaconda3\lib\site-packages (from black>=19.10b0->fastquant) (2021.4.4)
Requirement already satisfied: pathspec<1,>=0.6 in c:\users\yashg\anaconda3\lib\site-packages (from black>=19.10b0->fastquant) (0.7.0)
Requirement already satisfied: appdirs in c:\users\yashg\anaconda3\lib\site-packages (from black>=19.10b0->fastquant) (1.4.4)
Requirement already satisfied: toml>=0.9.4 in c:\users\yashg\anaconda3\lib\site-packages (from black>=19.10b0->fastquant) (0.10.2)
Requirement already satisfied: click>=6.5 in c:\users\yashg\anaconda3\lib\site-packages (from black>=19.10b0->fastquant) (7.1.2)
Requirement already satisfied: attrs>=18.1.0 in c:\users\yashg\anaconda3\lib\site-packages (from black>=19.10b0->fastquant) (20.3.0)
Requirement already satisfied: typed-ast>=1.4.0 in c:\users\yashg\anaconda3\lib\site-packages (from black>=19.10b0->fastquant) (1.4.2)
Requirement already satisfied: aiodns>=1.1.1 in c:\users\yashg\anaconda3\lib\site-packages (from ccxt>=1.30.59->fastquant) (3.0.0)
Requirement already satisfied: setuptools>=38.5.1 in c:\users\yashg\anaconda3\lib\site-packages (from ccxt>=1.30.59->fastquant) (52.0.0.post20210125)
Requirement already satisfied: yarl==1.7.2 in c:\users\yashg\anaconda3\lib\site-packages (from ccxt>=1.30.59->fastquant) (1.7.2)
Requirement already satisfied: cryptography>=2.6.1 in c:\users\yashg\anaconda3\lib\site-packages (from ccxt>=1.30.59->fastquant) (3.4.7)
Requirement already satisfied: aiohttp>=3.8 in c:\users\yashg\anaconda3\lib\site-packages (from ccxt>=1.30.59->fastquant) (3.8.1)
Requirement already satisfied: multidict>=4.0 in c:\users\yashg\anaconda3\lib\site-packages (from yarl==1.7.2->ccxt>=1.30.59->fastquant) (5.2.0)
Requirement already satisfied: pycares>=4.0.0 in c:\users\yashg\anaconda3\lib\site-packages (from aiodns>=1.1.1->ccxt>=1.30.59->fastquant) (4.1.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\yashg\anaconda3\lib\site-packages (from aiohttp>=3.8->ccxt>=1.30.59->fastquant) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\yashg\anaconda3\lib\site-packages (from aiohttp>=3.8->ccxt>=1.30.59->fastquant) (4.0.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\yashg\anaconda3\lib\site-packages (from aiohttp>=3.8->ccxt>=1.30.59->fastquant) (2.0.8)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\yashg\anaconda3\lib\site-packages (from aiohttp>=3.8->ccxt>=1.30.59->fastquant) (1.2.0)
Requirement already satisfied: typing-extensions>=3.6.5 in c:\users\yashg\anaconda3\lib\site-packages (from async-timeout<5.0,>=4.0.0a3->aiohttp>=3.8->ccxt>=1.30.59->fastquant) (3.7.4.3)
Requirement already satisfied: cffi>=1.12 in c:\users\yashg\anaconda3\lib\site-packages (from cryptography>=2.6.1->ccxt>=1.30.59->fastquant) (1.14.5)
Requirement already satisfied: pycparser in c:\users\yashg\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=2.6.1->ccxt>=1.30.59->fastquant) (2.20)
Requirement already satisfied: cycler>=0.10 in c:\users\yashg\anaconda3\lib\site-packages (from matplotlib>=3.1.2->fastquant) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\yashg\anaconda3\lib\site-packages (from matplotlib>=3.1.2->fastquant) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\yashg\anaconda3\lib\site-packages (from matplotlib>=3.1.2->fastquant) (2.4.7)
Requirement already satisfied: decorator>=4.3.0 in c:\users\yashg\anaconda3\lib\site-packages (from networkx>=2.4->fastquant) (5.0.6)
Requirement already satisfied: joblib in c:\users\yashg\anaconda3\lib\site-packages (from nltk>=3.5->fastquant) (1.0.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\yashg\anaconda3\lib\site-packages (from yfinance>=0.1.54->fastquant) (0.0.10)
Requirement already satisfied: nodeenv>=0.11.1 in c:\users\yashg\anaconda3\lib\site-packages (from pre-commit->fastquant) (1.6.0)
Requirement already satisfied: cfgv>=2.0.0 in c:\users\yashg\anaconda3\lib\site-packages (from pre-commit->fastquant) (3.3.1)
Requirement already satisfied: pyyaml>=5.1 in c:\users\yashg\anaconda3\lib\site-packages (from pre-commit->fastquant) (5.4.1)
Requirement already satisfied: virtualenv>=20.0.8 in c:\users\yashg\anaconda3\lib\site-packages (from pre-commit->fastquant) (20.10.0)
Requirement already satisfied: identify>=1.0.0 in c:\users\yashg\anaconda3\lib\site-packages (from pre-commit->fastquant) (2.4.0)
Requirement already satisfied: filelock<4,>=3.2 in c:\users\yashg\anaconda3\lib\site-packages (from virtualenv>=20.0.8->pre-commit->fastquant) (3.4.0)
Requirement already satisfied: backports.entry-points-selectable>=1.0.4 in c:\users\yashg\anaconda3\lib\site-packages (from virtualenv>=20.0.8->pre-commit->fastquant) (1.1.1)
Requirement already satisfied: platformdirs<3,>=2 in c:\users\yashg\anaconda3\lib\site-packages (from virtualenv>=20.0.8->pre-commit->fastquant) (2.4.0)
Requirement already satisfied: distlib<1,>=0.3.1 in c:\users\yashg\anaconda3\lib\site-packages (from virtualenv>=20.0.8->pre-commit->fastquant) (0.3.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from fastquant import backtest,get_crypto_data,get_stock_data
import backtrader as bt
import backtrader.analyzers as btanalyzers
import numpy as np

In [ ]:
df = get_crypto_data('BTCUSDT',start_date='2021-01-01',end_date='2021-11-27', time_resolution='1h')

In [ ]:
df2 = df.copy()

In [ ]:
df2.reset_index(level=0, inplace=True)

In [ ]:
df2.head()

                   dt      open      high       low     close       volume
0 2020-12-31 19:00:00  28872.24  29000.00  28742.41  28897.83  2293.821339
1 2020-12-31 20:00:00  28897.84  29139.65  28862.00  29126.70  1936.480299
2 2020-12-31 21:00:00  29126.71  29169.55  28900.79  28966.36  2524.473111
3 2020-12-31 22:00:00  28966.36  29143.73  28910.19  29100.84  1438.506326
4 2020-12-31 23:00:00  29100.83  29110.35  28780.00  28923.63  1976.419299

In [ ]:
from fastquant import CustomStrategy, BaseStrategy
from fastquant.indicators import MACD, CrossOver 
from fastquant.indicators.custom import CustomIndicator


# Create a subclass of the BaseStrategy, We call this MAMAStrategy (MACD + ALMA)
class MAMAStrategy(BaseStrategy):
    
    
    count = 0
    
    params = (
        ("upper_band", "Upper_Band"),   # name for the ALMA column from the dataframe
        ('sar_period', 2),
        ("af", 0.05),
        ("afmax",0.50),
        ("rsi_period", 14),  
        ("rsi_upper", 70),
        ("rsi_lower",50)
        )
        
    def __init__(self):
        # Initialize global variables
        super().__init__()
        
        
        self.rsi_period = self.params.rsi_period
        self.rsi_upper = self.params.rsi_upper
        self.rsi_lower = self.params.rsi_lower
        self.rsi = bt.indicators.RelativeStrengthIndex(period=self.rsi_period, upperband=self.rsi_upper, lowerband=self.rsi_lower)
        self.sar_period = self.params.sar_period
        self.af = self.params.af
        self.afmax = self.params.afmax
        
        self.ParabolicSAR = bt.indicators.ParabolicSAR(period = self.sar_period, af=self.af, afmax= self.afmax)
    

        
        print("===Strategy level arguments===")
        print("PARAMS: ", self.params)
        

    # Buy when the custom indicator is below the lower limit, and sell when it's above the upper limit
    

    def buy_signal(self):
        rsi_buy =  self.rsi < self.rsi_lower   # Close is above ALMA
        sar_buy = self.data.close[0]> self.ParabolicSAR    # MACD crosses signal line upward
        return rsi_buy and sar_buy 
   
    def sell_signal(self):
        sar_sell = self.ParabolicSAR > self.data.close[0]
        rsi_sell = self.rsi>self.rsi_upper
        return sar_sell and rsi_sell

In [ ]:
results,history = backtest(MAMAStrategy, df, init_cash=100000,plot=False, return_history=True, execution_type='close')

Starting Portfolio Value: 100000.00
2021-11-27T00:00:00, ===Global level arguments===
2021-11-27T00:00:00, init_cash : 100000
2021-11-27T00:00:00, buy_prop : 1
2021-11-27T00:00:00, sell_prop : 1
2021-11-27T00:00:00, commission : 0
2021-11-27T00:00:00, stop_loss : 0
2021-11-27T00:00:00, stop_trail : 0
2021-11-27T00:00:00, take_profit : 0
===Strategy level arguments===
PARAMS:  <backtrader.metabase.AutoInfoClass_LineRoot_LineMultiple_LineSeries_LineIterator_DataAccessor_StrategyBase_Strategy_BaseStrategy_MAMAStrategy1 object at 0x0000022BBCA38FA0>
2021-11-27T00:00:00, Final Portfolio Value: 192627.22
2021-11-27T00:00:00, Final PnL: 92627.22
Time used (seconds): 4.589513063430786
==================================================
Number of strat runs: 1
Number of strats per run: 1
Strat names: ['MAMAStrategy']
**************************************************
--------------------------------------------------
Strategy Parameters	init_cash:100000	buy_prop:1	sell_prop:1	fractional:False	commission:0	stop_loss:0	stop_trail:0	take_profit:0	execution_type:close	channel:	symbol:	allow_short:False	short_max:1.5	add_cash_amount:0	add_cash_freq:M	invest_div:True	upper_band:Upper_Band	sar_period:2	af:0.05	afmax:0.5	rsi_period:14	rsi_upper:70	rsi_lower:50
Returns	rtot:0.6555866325695532	ravg:0.0019746585318360034	rnorm:0.6447920288973868	rnorm100:64.47920288973869
Sharpe	sharperatio:0.9784080748617955
Drawdown	len:391	drawdown:18.475066015919325	moneydown:43652.91	max:AutoOrderedDict([('len', 4401), ('drawdown', 50.392179423796996), ('moneydown', 102000.69)])
Timedraw	maxdrawdown:48.94258181709328	maxdrawdownperiod:182
Optimal parameters:	init_cash:100000	buy_prop:1	sell_prop:1	fractional:False	commission:0	stop_loss:0	stop_trail:0	take_profit:0	execution_type:close	channel:	symbol:	allow_short:False	short_max:1.5	add_cash_amount:0	add_cash_freq:M	invest_div:True	upper_band:Upper_Band	sar_period:2	af:0.05	afmax:0.5	rsi_period:14	rsi_upper:70	rsi_lower:50
Optimal metrics:	rtot:0.6555866325695532	ravg:0.0019746585318360034	rnorm:0.6447920288973868	rnorm100:64.47920288973869	len:391	drawdown:18.475066015919325	moneydown:43652.91	max:AutoOrderedDict([('len', 4401), ('drawdown', 50.392179423796996), ('moneydown', 102000.69)])	maxdrawdown:48.94258181709328	maxdrawdownperiod:182	sharperatio:0.9784080748617955	pnl:92627.22	final_value:192627.22	total:17	win_rate:0.7647058823529411	won:13	lost:3	won_avg:16208.997692307692	won_avg_prcnt:16.20899769230769	lost_avg:-26449.149999999998	lost_avg_prcnt:-26.44915	won_max:27710.339999999997	won_max_prcnt:27.710339999999995	lost_max:-48946.140000000014	lost_max_prcnt:-48.946140000000014

In [ ]:
results

,strat_id,init_cash,buy_prop,sell_prop,fractional,commission,stop_loss,stop_trail,take_profit,execution_type,...,won,lost,won_avg,won_avg_prcnt,lost_avg,lost_avg_prcnt,won_max,won_max_prcnt,lost_max,lost_max_prcnt
0,0,100000,1,1,False,0,0,0,0,close,...,13,3,16208.997692,16.208998,-26449.15,-26.44915,27710.34,27.71034,-48946.14,-48.94614

In [ ]:
results.columns

Index(['strat_id', 'init_cash', 'buy_prop', 'sell_prop', 'fractional',
       'commission', 'stop_loss', 'stop_trail', 'take_profit',
       'execution_type', 'channel', 'symbol', 'allow_short', 'short_max',
       'add_cash_amount', 'add_cash_freq', 'invest_div', 'upper_band',
       'sar_period', 'af', 'afmax', 'rsi_period', 'rsi_upper', 'rsi_lower',
       'rtot', 'ravg', 'rnorm', 'rnorm100', 'len', 'drawdown', 'moneydown',
       'max', 'maxdrawdown', 'maxdrawdownperiod', 'sharperatio', 'pnl',
       'final_value', 'total', 'win_rate', 'won', 'lost', 'won_avg',
       'won_avg_prcnt', 'lost_avg', 'lost_avg_prcnt', 'won_max',
       'won_max_prcnt', 'lost_max', 'lost_max_prcnt'],
      dtype='object')

In [ ]:
final = results[['sar_period', 'total','af','rsi_upper','rsi_lower','maxdrawdown', 'maxdrawdownperiod', 'sharperatio', 'pnl','win_rate' ]]

In [ ]:
final

,sar_period,total,af,rsi_upper,rsi_lower,maxdrawdown,maxdrawdownperiod,sharperatio,pnl,win_rate
0,2,17,0.05,70,50,48.942582,182,0.978408,92627.22,0.764706

In [ ]:
orders = history['orders']

In [ ]:
orders

,strat_id,strat_name,dt,type,price,size,value,commission,pnl
0,0,execution_typeclose,2021-01-04 06:00:00,buy,32813.01,3,98439.03,0.0,0.00
1,0,execution_typeclose,2021-01-08 00:00:00,sell,39432.28,-3,98439.03,0.0,19857.81
2,0,execution_typeclose,2021-01-10 04:00:00,buy,40316.64,2,80633.28,0.0,0.00
3,0,execution_typeclose,2021-01-10 23:00:00,buy,38428.23,1,38428.23,0.0,0.00
4,0,execution_typeclose,2021-02-09 00:00:00,sell,46374.87,-3,119061.51,0.0,20063.10
5,0,execution_typeclose,2021-02-11 00:00:00,buy,44807.58,3,134422.74,0.0,0.00
6,0,execution_typeclose,2021-02-19 00:00:00,sell,51552.60,-3,134422.74,0.0,20235.06
7,0,execution_typeclose,2021-02-19 05:00:00,buy,51166.30,3,153498.90,0.0,0.00
8,0,execution_typeclose,2021-02-21 00:00:00,sell,55841.19,-3,153498.90,0.0,14024.67
9,0,execution_typeclose,2021-02-22 08:00:00,buy,56422.92,3,169268.76,0.0,0.00
10,0,execution_typeclose,2021-03-14 00:00:00,sell,61188.39,-3,169268.76,0.0,14296.41
11,0,execution_typeclose,2021-03-14 20:00:00,buy,59931.70,3,179795.10,0.0,0.00
12,0,execution_typeclose,2021-05-01 00:00:00,sell,57694.27,-3,179795.10,0.0,-6712.29
13,0,execution_typeclose,2021-05-02 11:00:00,buy,56831.67,3,170495.01,0.0,0.00
14,0,execution_typeclose,2021-06-15 00:00:00,sell,40516.29,-3,170495.01,0.0,-48946.14
15,0,execution_typeclose,2021-06-16 09:00:00,buy,40040.85,3,120122.55,0.0,0.00
16,0,execution_typeclose,2021-07-22 00:00:00,sell,32144.51,-3,120122.55,0.0,-23689.02
17,0,execution_typeclose,2021-07-23 16:00:00,buy,32315.00,3,96945.00,0.0,0.00
18,0,execution_typeclose,2021-07-25 00:00:00,sell,34258.14,-3,96945.00,0.0,5829.42
19,0,execution_typeclose,2021-07-27 06:00:00,buy,37100.00,3,111300.00,0.0,0.00
20,0,execution_typeclose,2021-08-01 00:00:00,sell,41461.83,-3,111300.00,0.0,13085.49
21,0,execution_typeclose,2021-08-01 20:00:00,buy,41263.35,3,123790.05,0.0,0.00
22,0,execution_typeclose,2021-08-21 00:00:00,sell,49322.47,-3,123790.05,0.0,24177.36
23,0,execution_typeclose,2021-08-22 22:00:00,buy,48680.02,3,146040.06,0.0,0.00
24,0,execution_typeclose,2021-09-07 00:00:00,sell,52663.90,-3,146040.06,0.0,11951.64
25,0,execution_typeclose,2021-09-08 00:00:00,buy,46863.73,3,140591.19,0.0,0.00
26,0,execution_typeclose,2021-10-02 00:00:00,sell,48141.61,-3,140591.19,0.0,3833.64
27,0,execution_typeclose,2021-10-04 09:00:00,buy,47656.49,3,142969.47,0.0,0.00
28,0,execution_typeclose,2021-10-08 00:00:00,sell,53785.22,-3,142969.47,0.0,18386.19
29,0,execution_typeclose,2021-10-08 03:00:00,buy,53842.00,3,161526.00,0.0,0.00
30,0,execution_typeclose,2021-10-26 00:00:00,sell,63078.78,-3,161526.00,0.0,27710.34
31,0,execution_typeclose,2021-10-27 05:00:00,buy,61192.38,3,183577.14,0.0,0.00
32,0,execution_typeclose,2021-11-10 00:00:00,sell,66947.66,-3,183577.14,0.0,17265.84
33,0,execution_typeclose,2021-11-10 01:00:00,buy,66996.82,3,200990.46,0.0,0.00

In [ ]:
import pandas as pd

In [ ]:
pd.merge(df2, orders, on='dt')

,dt,open,high,low,close,volume,strat_id,strat_name,type,price,size,value,commission,pnl
0,2021-01-11 03:00:00,36363.93,36697.97,33600.00,35438.23,18753.360082,0,execution_typeclose,buy,36363.94,2,72727.88,0.0,0.00
1,2021-02-09 00:00:00,46374.86,47498.00,46233.95,46768.22,10775.231095,0,execution_typeclose,sell,46374.87,-2,72727.88,0.0,20021.86
2,2021-04-18 08:00:00,56184.51,56498.00,54459.56,54953.65,7610.111419,0,execution_typeclose,buy,56180.34,2,112360.68,0.0,0.00
3,2021-05-01 00:00:00,57697.25,58088.00,57421.05,57811.42,3480.449516,0,execution_typeclose,sell,57694.27,-2,112360.68,0.0,3027.86
4,2021-05-13 03:00:00,50257.78,50490.09,49544.00,50461.99,6253.543763,0,execution_typeclose,buy,50255.84,2,100511.68,0.0,0.00
5,2021-06-15 00:00:00,40516.28,40900.00,40169.51,40355.88,4690.099098,0,execution_typeclose,sell,40516.29,-2,100511.68,0.0,-19479.10
6,2021-06-25 22:00:00,31799.14,31975.98,31275.00,31423.32,4173.793707,0,execution_typeclose,buy,31799.37,3,95398.11,0.0,0.00
7,2021-07-22 00:00:00,32144.51,32376.78,31878.79,32053.18,3445.789055,0,execution_typeclose,sell,32144.51,-3,95398.11,0.0,1035.42
8,2021-09-08 00:00:00,46868.57,47110.00,46412.98,47035.99,2796.571530,0,execution_typeclose,buy,46863.73,2,93727.46,0.0,0.00
9,2021-10-02 00:00:00,48141.60,48224.01,47610.76,47817.73,2213.004520,0,execution_typeclose,sell,48141.61,-2,93727.46,0.0,2555.76
10,2021-11-16 09:00:00,61000.63,61470.41,60200.00,60200.00,4402.281560,0,execution_typeclose,buy,61000.63,1,61000.63,0.0,0.00

In [ ]:
final.sort_values(by='pnl', ascending=False)

,sar_period,total,af,rsi_upper,rsi_lower,maxdrawdown,maxdrawdownperiod,sharperatio,pnl,win_rate
0,2,6,0.05,70,30,28.232051,198,-7.200418,243.89,0.666667